{% load i18n %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Wiki {% if page.name %} | {{ page.name }}{% endif %}</title>

    <link rel="stylesheet"
          href="{{ STATIC_URL }}wiki/css/base.css"
	  media="screen, projection"
	  title="screen style">

  </head>
  <body>

    <div id="body">
      {% block content %}{% endblock %}
      <p class="footer"><a href="{% url wiki.views.index %}">{% trans "List all pages" %}</a> | {% block footer %}{% endblock %}{% trans "Powered by" %} <a href="http://github.com/sebasmagri/django-wiki">django-wiki</a></p>
    </div>
    
</body>
</html>
